if site.tags.length
  .tagcloud-container
    h1.tagcloud-header
      != __("tags")

  if theme.page_templates.tags_style == "cloud"
    .tagcloud-content
      != tagcloud({ min_font: 1, max_font: 5, unit: "rem", amount: 100 })
  else
    .tagcloud-content
      ul.tag-list(data-show-value="true")
        each tag in site.tags.data
          li
            a(href=url_for("/" + tag.path) data-weight=tag.posts.length)
              i(class="fa-solid fa-hashtag") #{tag.name}
