.side-tools-container
  ul.hidden-tools-list
    li.right-bottom-tools.tool-font-adjust-plus(class="flex justify-center items-center")
      i(class="fa-regular fa-magnifying-glass-plus")

    li.right-bottom-tools.tool-font-adjust-minus(class="flex justify-center items-center")
      i(class="fa-regular fa-magnifying-glass-minus")

    li.right-bottom-tools.tool-dark-light-toggle(class="flex justify-center items-center")
      i(class="fa-regular fa-moon")

    if theme.plugins.feed.enable && config.feed
      li.right-bottom-tools.rss(class="flex justify-center items-center")
        a(
          class="flex justify-center items-center" 
          href="/"+config.feed 
          target="_blank"
        )
          i(class="fa-regular fa-rss")

    if theme.global.scroll_progress.percentage !== true
      li.right-bottom-tools.tool-scroll-to-top(class="flex justify-center items-center")
        i(class="fa-regular fa-arrow-up")

    li.right-bottom-tools.tools-scroll-to-bottom(class="flex justify-center items-center")
      i(class="fa-regular fa-arrow-down")

  ul.visible-tools-list
    li.right-bottom-tools.toggle-tools-list(class="flex justify-center items-center")
      i(class="fa-regular fa-cog fa-spin")

    if theme.global.scroll_progress.percentage === true
      li.right-bottom-tools.tool-scroll-to-top(class="flex justify-center items-center")
        i(class="fa-regular fa-arrow-up")
        span.percent

    if theme.plugins.aplayer.enable && theme.plugins.aplayer.type === "mini"
      li.right-bottom-tools.tool-aplayer(class="flex justify-center items-center")
