<div class="home-content-container">
    <ul class="home-article-list">
        <li class="home-article-item">
            <div class="top-[12px] right-[12px] text-[0.7rem] text-third-text-color rounded-medium bg-background-color-transparent-15 py-[2px] px-[10px] border border-border-color z-1 hover:text-first-text-color cursor-default">
                <%- partial("about") %>
            </div>
        </li>
    </ul>
    <%- partial("_partials/ctf-timeline") %>
</div>
