---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.vue";


interface Props {
  selectedYear: string;
  postsByYear: {
    [year: string]: {
        title: string;
        excerpt: string;
        date: Date;
        category: string;
        tags: string[];
      }
  };
}

const { selectedYear, postsByYear } = Astro.props;

const latestPosts: any = postsByYear[selectedYear];
---

<Layout title="samuzora's blog">
  <div class="pt-[100px] relative">
    <div class="flex justify-center">
      <h1>Latest posts</h1>
    </div>
    <div class="mx-10 w-auto md:mx-auto md:w-[668px] lg:w-[924px]">
      <div class="flex justify-start gap-3 py-7 text-lg">
        {Object.keys(postsByYear).map(year => (
        <a data-is-selected={year === selectedYear} href={"/browse/" + year} class="select-year p-2 rounded-lg border border-[--secondary-bg]">{year}</a>
        ))}
      </div>
      <div class="flex flex-col gap-10">
        {latestPosts.map((post: any) => (
        <Card>
          <div class="pb-3">
            <a class="text-2xl font-bold" href={"/posts/" + post.id}>{post.data.title}</a>
          </div>
          <div class="pb-3">
            {post.data.excerpt || (post.body.substring(0, 100) + "...")}
          </div>
          <div class="flex justify-between text-sm">
            <div class="flex justify-start gap-5 grow">
              <div class="flex gap-2 items-center text-[--fourth-text-color] font-bold">
                <i class="fa-regular fa-calendar"></i>
                {post.data.date.toLocaleDateString("en-SG", { year: "2-digit", month: "short", day: "2-digit" })}
              </div>
              <div class="hidden md:flex gap-2 items-center text-[--fourth-text-color] font-bold">
                <i class="fa-regular fa-folder"></i>
                {post.data.category}
              </div>
              <div class="hidden md:flex gap-2 items-center text-[--fourth-text-color] font-bold">
                <i class="fa-regular fa-tags"></i>
                {post.data.tags.join(" | ")}
              </div>
            </div>
            <div class="w-auto text-base">
              <a href={"/posts/" + post.id}>
                Read more
                <i class="fa-regular fa-angle-right"></i>
              </a>
            </div>
          </div>
        </Card>
        ))}
      </div>
    </div>
  </div>
</Layout>

<style>
.select-year {
  background: var(--primary-bg-transparent-80);
  transition: color 0.2s, background 0.2s;
}

.select-year[data-is-selected="true"], .select-year:hover {
  background: var(--primary-color);
  color: var(--primary-bg) !important;
}
</style>
