.progress-bar-container
    if theme.global.scroll_progress.bar === true 
        span.scroll-progress-bar

    if theme.global.single_page === true
        span.pjax-progress-bar
            span.swup-progerss-icon
                i(class="fa-solid fa-circle-notch fa-spin")
