.footer {
    margin: auto;
    margin-top: 200px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;

    column-gap: 10px;

    font-size: 12px;
}

.footer a:hover {
    opacity: 50%;
}
