.navbar {
    position: fixed;

    font-size: 18px;

    margin: 32px 5vw;
    padding: 8px;

    width: 90vw;

    background: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(5px);

    border-radius: 10px;

    z-index: 1;
}

.link {
    display: inline-block;
    padding: 8px;

    color: white;
    text-decoration: none;

    background: transparent;

    transition: 0.15s transform;
}

/* to handle the link text-decoration after clicking */
.link:focus {
    color: white;
    text-decoration: none;

    background: transparent;
}

.link:hover, .link:active {
    color: white;
    text-decoration: none;

    transform: scale(1.1);
}
