.category-list-container
  div
    h1.category-header
    != __("categories")
  .category-list-content
    != list_categories(site.categories, { class: "all-category", depth: 5, style: "list" })

  .category-comments
    if page.comment
      include _partials/comments/comment
