include _widgets/progress-bar

main.page-container(id="swup")
  if theme.home_banner.enable && is_home() && !page.prev
    include _partials/home-banner
  else if theme.home_banner.enable && is_home() && page.prev && theme.home_banner.style === "fixed"
    include _partials/home-background

  .main-content-container
    .main-content-header
      include _partials/navbar

    .main-content-body
      if is_home() && theme.home.sidebar.enable && theme.home.sidebar.position === "left"
        include _partials/home-sidebar

      .main-content
        if is_home()
          include _partials/home-content
          .comment-container(class="pjax")
        else if is_archive()
          include archive-content
        else if is_post()
          include about
        else if is_category()
          include category-content
        else if is_tag()
          include tag-content
        else if page.title === "category" || page.title === "categories"
          include category-list
        else if page.title === "tag" || page.title === "tags"
          include _widgets/tagcloud
        else if page.title === "Page Not Found" || page.title === "404"
          include _partials/404
        else
          include _partials/page-template

      if is_home() && theme.home.sidebar.enable && theme.home.sidebar.position === "right"
        include _partials/home-sidebar

  if is_post()
    .post-tools
      include _widgets/post-tools

  .right-side-tools-container
    include _widgets/side-tools

  include _widgets/image-viewer

  if theme.navbar.search.enable
    include _widgets/local-search

if theme.global.single_page
  include _plugins/swup
